@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /* // overflow-x: hidden;//*/

}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

/* Nav Bar */
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(243, 236, 236, 0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    font-size: 1.5em;
    color: #da4826;
    font-weight: 500;
    text-decoration: none;
}

.navlinks {
    list-style: none;
    display: flex;
}

.navlinks li {
    margin: 0 15px;
}

.navlinks a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navlinks a:hover {
    color: #ff7f50;
}

.navTrigger {
    display: none;
    cursor: pointer;
}

.navTrigger i {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(176, 182, 176);
    transition: all 0.3s;
}
/* Show the list */
.show_list {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}


@keyframes navAnimation {
    0% {
        background-color: rgba(252, 251, 251, 0.8);
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    100% {
        background-color: #241916;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
}
.cart {
    display: inline-block;
    margin-left: 20px;
}

.cart-icon {
    text-decoration: none;
    color: #333;
}

.cart-icon i {
    margin-right: 5px;
}
/* Home */
#home {
    padding: 240px 20px;
    background-image: url("assets/videos/Twice_MayCover2024_PROMO (1).gif");

    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EAE6E3;
}

#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container1 {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
}

.container1 h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.running-text {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.running-text p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    font-size: 1.8rem;
    color: #ffcc00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
/* search and shop btn*/
#shop {
    background-color: rgba(153, 125, 90, 0.18);
    font-weight: 200;
    color: white;
    font-size: 1.2rem;
    padding: 13px 12px;
    border: 2px solid #997D5A;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 19px;
}

#shop:hover {
    background-color: #765341;
}

.big-text {
    margin-top: 30px;
}

.big-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #fff;
    border-radius: 5px 0 0 5px;
    width: 300px;
    outline: none;
}

.search-bar button {
    padding: 10px 15px;
    background-color: #997D5A;
    color: #fff;
    border: 2px solid #997D5A;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
}

.search-bar button:hover {
    background-color: #765341;
}

/* Animation for big-text */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* New Arrivals */
#new-arrivals {
    padding: 50px 0;
}

#new-arrivals h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.arrivals-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.arrival-item {
    background: #fff;
    border-radius: 10px;
    width: 45%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.arrival-image{
   height: 100%;
    width: 100%;

}
.arrival-image img {
    width: 50%;
    height: 100%;
}
.arrival-image:hover {
    transform: scale(1.1);
}

.arrival-details {
    padding: 20px;
}

.arrival-details h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.arrival-details .price {
    color: #ff6347;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.arrival-details .description {
    margin-bottom: 20px;
}

.quantity-add-to-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity label {
    margin-right: 10px;
}

.quantity input {
    width: 50px;
    padding: 5px;
    font-size: 1em;
}

.add-to-cart {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background: #ff6347;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
/* Features ,location and collection*/
#features, #location, #collection {
    margin-top: 50px;
    padding: 60px 20px;
    text-align: center;
    background: rgb(251, 247, 247);
}

#features h2, #location h2, #collection h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #241916;
}

.feature-cards, .cards-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-card, .card {
    flex: 1;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card:hover, .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.feature-card i {
    font-size: 3rem;
    color: #ffcc00;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.feature-card:hover i {
    transform: rotate(360deg);
}
/* Testimonials */
#testimonials {
    padding: 60px 20px;
    text-align: center;
    background-color: #f7f7f7;
}

#testimonials h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #241916;
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.testimonial {
    max-width: 600px;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
    position: relative;
}

.stars {
    margin-bottom: 10px;
}

.star {
    font-size: 1.5rem;
    color: #ffcc00;
}

.testimonial p {
    font-size: 1.4rem;
    color: #241916;
    margin-bottom: 10px;
    line-height: 1.6;
}

.testimonial h4 {
    font-size: 1.2rem;
    color: #997D5A;
    margin-top: 10px;
}
/* Card */
.cards-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card {

    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.4s, box-shadow 0.4s;
}

.card:hover {
    transform: scale(0.95);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}


.card_image {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_title p {
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #030303;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(229, 197, 232, 0.53), rgba(248, 86, 114, 0.53), rgba(0, 0, 255, 0.5));
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.card:hover::after {
    opacity: 0.7;
}

.title-purple {
    color: #c175c9;
}

.title-black {
    color: black;
}
/* Latest News */
#latest-news {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.container3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#latest-news h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.news-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.news-item {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.news-item .news-image img {
    max-width: 100%;
    border-radius: 8px;
}

.news-item .news-content {
    margin-top: 20px;
}
.news-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.news-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.news-item p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* contact */
/* Contact Section */
#map {
    padding: 60px 0;
    background-color: #f4f4f4;
}

#map h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.location {
    display: flex;
    justify-content: space-around;
}

.map {
    width: 50%;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.shop-details {
    width: 40%;
    padding: 20px;
}

.shop-details h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.shop-details p {
    font-size: 1em;
    margin-bottom: 10px;
}

.shop-details i {
    color: #ff7f50;
    margin-right: 10px;
}
/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ff7f50;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .navlinks {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgba(243, 236, 236, 0.1);
        z-index: 999;
        padding: 10px 0;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%);
    }

    .navlinks.show_list {
        display: flex;
        transform: translateY(0);
    }

    .navTrigger {
        display: block;
        cursor: pointer;
        z-index: 1001;
    }

    .navTrigger i {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #da4826;
        transition: all 0.3s;
    }

    .feature-cards, .testimonial-list, .cards-list, .arrivals-list {
        flex-direction: column;
        align-items: center;
    }

    .news-container {
        flex-direction: column;
        align-items: center;
    }

    .news-item {
        width: 90%;
    }
    .testimonials {
        flex-direction: column;
        gap: 20px;
    }

    .testimonial {
        max-width: 100%;
    }
    .arrivals-list {
        flex-direction: column;
        align-items: center;
    }

    .arrival-item {
        width: 70%;
        flex-direction: column;
    }

    .arrival-image img {
        width: 100%;
    }

    .arrival-details {
        text-align: center;
    }

    .quantity-add-to-cart {
        flex-direction: column;
    }

    .add-to-cart {
        margin-top: 10px;
    }
    #home {
        padding: 160px 20px;
    }
    .big-text {
        margin-top: 20px;
    }

    .big-text h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
        animation: fadeInUp 1s ease-in-out;
    }
    .running-text {
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
    }

    .running-text p {
        display: inline-block;
        padding-left: 50%;
        animation: marquee 15s linear infinite;
        font-size: 0.9rem;
    }

    .location {
        flex-direction: column;
        align-items: center;
    }

    .map, .shop-details {
        width: 80%;
    }
    .search-bar input[type="text"] {
        padding: 10px;
        font-size: 0.7rem;
    }

    .search-bar button {
        padding: 10px;
        font-size: 0.7rem;
    }
}


@media screen and (min-width: 769px) {
    .map-container {
        max-width: 50%;
        margin: 20px auto;
    }
}

@media (max-width: 576px) {
    #home h1 {
        font-size: 1em;
    }

    .container1 h1 {
        font-size: 0.9em;
    }

    .big-text h2 {
        font-size: 0.8em;
    }

    #shop {
        padding: 10px 20px;
        font-size: 0.8em;
    }
}
/*
@media only screen and (max-width: 450px) {
    #home {
        padding: 140px 10px;
    }
    .big-text {
        margin-top: 20px;
    }

    .big-text h2 {
        font-size: 1rem;
        margin-bottom: 10px;
        animation: fadeInUp 1s ease-in-out;
    }
    .container1 h1 {
        font-weight: bold;
        font-size: 2.1rem;
        margin-bottom: 10px;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    }
    .running-text p{
        font-size: 0.8rem;
        padding: 50%;
    }
    .navTrigger {
        display: block;}}*/
