@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: rgba(43, 29, 27, 0.83);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem; /* Increased font size */
    font-weight: bold;
    color: #030303; /* Updated color */
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem; /* Updated font size */
    margin: 0;
    font-weight: 700;
}

.promo-text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    font-size: 1.2rem;
    color: #ffcc00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    white-space: nowrap; /* Ensure the text stays on one line */
    margin: 10px 0; /* Add some margin for spacing */
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
.filters {
    margin-top: 20px;
}

.filters label {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #fff;
}

.filters select {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #b0b6b0; /* Updated hover color */
    color: #3E4A49; /* Updated text color on hover */
    border-radius: 5px;
}

/* Top collection section */
#top-collection {
    padding: 50px 0;
}

#top-collection h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.tops-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.top {
    background: #fff;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 2px solid #997D5A;
    transition: transform 0.3s;
}

.top:hover {
    transform: scale(1.02);
}

.top-image img {
    width: 70%;
    height: auto;
    padding: 10px;
}

.top-details {
    margin-right: 30px;
    padding: 10px;
}

.top-details h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.top-details .price {
    color: #ff6347;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.top-details .description {
    margin-bottom: 20px;
}

.quantity-add-to-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity {
    display: flex;
    align-items: center;
    margin-right: 2px;
}

.quantity label {
    margin-right: 10px;
}

.quantity input {
    width: 30px;
    padding: 5px;
    font-size: 1em;
}

.add-to-cart {
    padding: 5px 10px;
    font-size: 1em;
    border: none;
    background: #ff6347;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}
.add-to-cart:hover {
    background-color: #997D5A;
}

.favorite-btn {
    cursor: pointer;
    color: #333;
    font-size: 0.8em;
    margin-top: 10px;
}

.favorite-btn i {
    margin-right: 5px;
}

.favorite-btn:hover {
    text-decoration: underline;
}

.popular {
    width: 50px;
    position: relative;
    top: 0;
    right: 0;
    background-color: #ff6347;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.8em;
    border-radius: 5px;
}
.popular:hover {
    background-color: #997D5A;
}
/* Show the list */
.show_list {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}


@keyframes navAnimation {
    0% {
        background-color: rgba(252, 251, 251, 0.8);
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    100% {
        background-color: #241916;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
}

/* Footer */
footer {
    background: #241916;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

footer .social-links {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}

footer .social-links li {
    margin: 0 10px;
}

footer .social-links li a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

footer .social-links li a:hover {
    color: #ffcc00;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .logo {
        position: static;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    .promo-text {
        font-size: 1rem;
    }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filters label {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .filters select {
        width: 100%;
        max-width: 200px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 0;
        margin-bottom: 5px;
    }

    nav ul li a {
        display: block;
    }
    #top-collection h2 {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .top {
        width: 60%;
        flex-direction: column;
    }

    .tops-list {
        flex-direction: column;
        align-items: center;
    }

    .top-image img {
        width: 100%;
    }

    .quantity {
        margin-right: 3px;
    }

    .quantity-add-to-cart {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .add-to-cart {
        font-size: 0.9em;
    }

    .logo {
        position: static;
        margin-bottom: 10px;
    }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filters label {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .filters select {
        width: 100%;
        max-width: 200px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 0;
        margin-bottom: 5px;
    }
}
@media (max-width: 576px) {
    .promo-text{
        font-size: 0.9em;

        h1{
            font-size: 1.5em;
        }
    }
}

